body {
    background-color: #222;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
    background-size: 30px 30px;
    animation: gridMove 5s linear infinite;
    color: #eee;
    font-family: "JetBrains Mono", monospace;

    margin: 0;
    padding: 0;
}

#container {
    -webkit-backdrop-filter: blur(0.5px) saturate(180%);
    backdrop-filter: blur(0.5px) saturate(180%);
    background-color: rgba(51, 51, 51, 0.53);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    
    position: fixed;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    height: 95vh;

    animation: slide 1s ease-out;
}

#title {
    text-align: center;
    font-family: "WDXL Lubrifont JP N", monospace;
    background: linear-gradient(90deg, #ffa200, #ff00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 10vh;
    height: 18vh;
    margin-bottom: 0;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title a {
    display: flex;
    align-items: center;
}

#title span {
    display: inline-block;
    transition: font-size 0.2s ease-in-out;
}

#title span:hover {
    font-size: 17.5vh;
}

#next {
    padding-left: 10%;
}

.catagory {
    font-family: "Nanum Brush Script", cursive;
    font-size: xx-large;
    margin: 0;
    padding: 0 5px;
}

.mono {
    font-family: "Archivo", monospace;
    font-size: large;
}

#sad {
    font-family: "Archivo", monospace;
    font-size: xx-large;
}

a {
    text-decoration: none;
    color: inherit;
}

#undertitle {
    font-family: "Lilex", monospace;
    font-size: 2vh;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

hr {
	height: 8px;
    background-image: linear-gradient(90deg, #ee9100, #dd00dd);
    border: 0;
    margin-left: 50px;
    margin-right: 50px;
    height: 1px;
}

@keyframes gridMove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 30px 30px;
    }
}

@keyframes slide {
    0% {
        bottom: -100%;
    }
    100%{
        bottom: -13px;
    }
}

@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}